.footer-bg{
    background-color: #026359; 
    color: white;
}
.footer-section{
    margin-top: 50px;
}
.footer-section h2{
    color: white;
}
.icon-color{
    color:white ;
}
.footer-link{
    text-decoration: none;
    color: white;
}
.img-sized{
    height: 100px;
}
.footer-font-style{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
.footer-set{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-set img{
    height: 70px;
}
.footer-color{
    background-color: #021f1b;
}

